.ebs-radio__group {
  &.vertical {
    display: flex;
    flex-wrap: wrap;
  }

  &.ebs-radio__align--left {
    .ebs-radio {
      right: inherit;
      left: 0;

      &__text {
        padding-left: rem(26px);
      }
    }
  }

  &.ebs-radio__align--right {
    .ebs-radio {
      left: inherit;
      right: 0;

      &__text {
        padding-right: rem(26px);
        width: rem(160px);
      }
    }
  }

  .ebs-radio__wrapper {
    position: relative;

    &:not(:last-child) {
      margin-bottom: rem(5px);
    }

    &.has-text .ebs-radio {
      position: absolute;
      top: rem(-2px);
    }

    &.disabled {
      .ebs-radio__input {
        cursor: not-allowed;
      }

      .ebs-radio__text {
        color: $grey-500;
      }

      .ebs-radio,
      .ebs-radio__input:hover ~ .ebs-radio {
        background-color: transparent;

        &__dot {
          border: 1px solid $border-color;
          box-shadow: none;
          background-color: transparent;
        }
      }

      .ebs-radio__input:checked ~ .ebs-radio,
      .ebs-radio__input:checked:hover ~ .ebs-radio {
        background-color: transparent;

        &__dot {
          border: 1px solid $grey-500;
          box-shadow: 0px 0px 0px 3px $white inset;
          background-color: $grey-500;
        }
      }
    }
  }

  .ebs-radio__input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    &:hover ~ .ebs-radio {
      background-color: $primary-100;

      &__dot {
        border-color: $primary-color;
        background-color: $primary-100;
      }
    }

    &:checked:hover ~ .ebs-radio {
      background-color: $primary-100;

      &__dot {
        border-color: $primary-color;
        background-color: $primary-color;
        box-shadow: 0px 0px 0px 3px $primary-100 inset;
      }
    }

    &:checked ~ .ebs-radio .ebs-radio__dot {
      border-color: $primary-color;
      background-color: $primary-color;
      box-shadow: 0px 0px 0px 3px $white inset;
    }
  }
}

.ebs-radio {
  transition: all $transition-time;
  width: rem(20px);
  height: rem(20px);
  background-color: transparent;
  pointer-events: none;
  border-radius: 50%;

  &__dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: rem(16px);
    height: rem(16px);
    border: 1px solid $border-color;
    border-radius: 50%;
    background-color: transparent;
  }

  &__text {
    color: $text-color;
    font-size: rem(14px);
  }
}

.ebs-radio2 {
  /* label */
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    margin: 12px 0;

    cursor: pointer;
    position: relative;
  }

  /* input */
  input {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  /* .design */
  .design {
    width: 16px;
    height: 16px;

    border: 1px solid $border-color;
    border-radius: 100%;
    margin-right: 16px;

    position: relative;
    box-sizing: content-box;
  }

  .design::before,
  .design::after {
    content: '';
    display: block;

    width: inherit;
    height: inherit;

    border-radius: inherit;
    // border: inherit;

    position: absolute;
    transform: scale(0);
    transform-origin: center center;
    box-sizing: content-box;
  }

  .design:before {
    background-color: $border-color;
    opacity: 0;
    transition: 0.3s;
  }

  .design::after {
    background-color: $primary-color;
    opacity: 0.4;
    transition: 0.6s;
  }

  /* .text */
  .text {
    color: $text-color;
    font-weight: 600;
  }

  /* checked state */
  input:checked + .design::before {
    opacity: 1;
    transform: scale(0.6);
  }

  /* other states */
  input:hover + .design,
  input:focus + .design {
    border: 1px solid $primary-color;
  }

  input:hover + .design:before,
  input:focus + .design:before {
    background-color: $primary-color;
  }

  input:hover ~ .text {
    color: $primary-color;
  }

  input:focus + .design::after,
  input:active + .design::after {
    opacity: 0.1;
    transform: scale(1.2);
  }
}
